*~
*.swp
*.swo
*.pyc
*.pyo
*.egg-info
.project
.idea
.coverage
.pydevproject
sphinxlog.txt
devdata.db
build
dist
docs/_build
docs/_static/ToscaWidgetsFormsExample.zip
docs/_static/Wiki20_final.zip
docs/_static/trunk.zip
docs/project_code/tosca_forms/ToscaSample.egg-info
docs/project_code/tosca_forms/toscasample/public/movies/
docs/project_code/tosca_forms/devdata.db
docs/main/Pagination/*.zip
book/_build
wiki20.zip
